<p id="notice"><%= notice %></p>

<h1>User Match</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= current_user.first_name %></td>
      </tr>
    <tr>
      <td>
        <% @user_skills.each do |user_skill| %>
        <%= user_skill.skill.title %>
        <% end %>
        </td>
      </tr>
    <tr>
      <td>First <%= @result_first %></td>
    </tr>
    <tr>
      <td><%= @result %></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
